.main-container {
	height: 100%;
	overflow: auto;
	padding: 24px;
}

.main-container--bot-profile {
  width: 400px;

  @media screen and (max-width: 530px) {
    width: auto;
  }
}

.main-container--center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.container {
	background: var(--color-background-light);
	border-radius: 8px;
	box-shadow: var(--elevation-2);
	margin-bottom: 16px;
	max-width: 100%;
	padding: 24px;
	transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		box-shadow: var(--elevation-4);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.container--small {
	width: 600px;
}

.container--fullheight {
	box-sizing: border-box;
	height: 100%;
}
